html
  head
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css")
  body
    .container
      nav.navbar.navbar-inverse.navbar-embossed
        .container-fluid
          .navbar-header
            a.navbar-brand(href="/") davidWall
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/friends") Find Friends
              li
                a(href="/auth/logout") Logout
      section
        h4 Here are your friends (authenticated)
        p Tell us about your accomplishments y let others know you  
        .row
          for user in users
            .col-xs-6.text-center
              img(src="https://graph.facebook.com/" + user.uid + '/picture?height=200')
              h4=user.name
